.navbar-inner
{
	/* Note: This gradient may render differently in browsers that don't support the unprefixed gradient syntax */
	background-image: -ms-linear-gradient(top left, #FAFAFA 0%, #F0F0F0 100%); /* IE10 Consumer Preview */ 
	background-image: -moz-linear-gradient(top left, #FAFAFA 0%, #F0F0F0 100%); /* Mozilla Firefox */
	background-image: -o-linear-gradient(top left, #FAFAFA 0%, #F0F0F0 100%); /* Opera */ 
	background-image: -webkit-gradient(linear, left top, right bottom, color-stop(0, #FAFAFA), color-stop(1, #F0F0F0)); /* Webkit (Safari/Chrome 10) */ 
	background-image: -webkit-linear-gradient(top left, #FAFAFA 0%, #F0F0F0 100%); /* Webkit (Chrome 11+) */
	background-image: linear-gradient(to bottom right, #FAFAFA 0%, #F0F0F0 100%); /* W3C Markup, IE10 Release Preview */
}
.login div
{
	background-image: -ms-linear-gradient(top left, #CCCCCC 0%, #AAAAAA 100%); /* IE10 Consumer Preview */ 
	background-image: -moz-linear-gradient(top left, #CCCCCC 0%, #AAAAAA 100%); /* Mozilla Firefox */ 
	background-image: -o-linear-gradient(top left, #CCCCCC 0%, #AAAAAA 100%); /* Opera */ 
	background-image: -webkit-gradient(linear, left top, right bottom, color-stop(0, #CCCCCC), color-stop(1, #AAAAAA)); /* Webkit (Safari/Chrome 10) */ 
	background-image: -webkit-linear-gradient(top left, #CCCCCC 0%, #AAAAAA 100%); /* Webkit (Chrome 11+) */ 
	background-image: linear-gradient(to bottom right, #CCCCCC 0%, #AAAAAA 100%); /* W3C Markup, IE10 Release Preview */ 
} 

.nav {padding-right:180px;}
.navbar .breadcrumbs > li > a {color:#0088cc}
.breadcrumbs{padding-left: 130px}

.login{position: absolute;right: 25px; padding-top: 10px}
.login a{ color:#0088cc;}
.login input:nth-child(1) { float: left; margin-left: 15px; width: 115px }
.login input:nth-child(2) { float: left; margin-left: 15px; width: 115px}
.login div { position: absolute; width: 290px; right: -20px; top: 55px; height: 45px; padding-top: 10px; padding-right: 20px;}

.write-comment.span6{margin-left:0px}
.write-post.span8{margin-left:10px}
.write-avatar{float: right; padding-right: 10px;}
.panel{padding:5px}
.inline-list > li {width: 50px;list-style: none; float: left; margin-left: 1.375em; display: block;}
.content-col.span3{width: 313px;}