<nav class="navbar navbar-fixed-top">
    <div class="navbar-inner">
        <ul class="nav breadcrumbs" data-bind="foreach: breadCrumbs">
            <li><a data-bind="text: Name, attr: {'title':Tip, 'href': Route}"></a></li>
        </ul>
        <ul class="nav pull-right" data-bind="foreach: router.visibleRoutes">
           <li> <a data-bind="css: { active: isActive }, attr: { href: hash }, text: name" 
                href="#"></a></li>
        </ul>
        <div class="loader pull-right" data-bind="css: { active: router.isNavigating }">
            <div class="progress progress-striped active page-progress-bar">
                <div class="bar" style="width: 100px;"></div>
            </div>
        </div>
    </div>
</nav>